div {
  margin: 0.5em 1em;
}
div.title {
  float: left;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
div.away {
  float: left;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}
div.home {
  float: left;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
div.notifications {
  height: 8em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
div.events {
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
}

div.title div {
  margin-left: auto;
  margin-right: auto;
}
div.away div {
  margin-left: auto;
  margin-right: 0;
}
div.home div {
  margin-left: 0;
  margin-right: auto;
}

span {
  display: inline-block;
}
span.stat {
  width: 2em;
}
span.time {
  width: 3em;
}

p {
  margin: 0em;
}

.away {
  color: rgb(0, 50, 100);
}
.home {
  color: rgb(100, 50, 0);
}
.GOAL, .score {
  font-weight: bolder;
}
.PENL {
  font-weight: lighter;
}
