body {
  font-family: 'Verdana', 'Helvetica', sans-serif;
  font-size: 0.9em;
  background-color: #fff;
  min-width: 50em;
  max-width: 70em;
  margin: 1em auto;
}

div {
  margin: 0.5em 1em;
}
div.main-container {
  background-color: #f4f4f4;
  padding: 10px;

  -moz-box-shadow: 0 0 5px 5px #aaa;
  -webkit-box-shadow: 0 0 5px 5px #aaa;
  box-shadow: 0 0 5px 5px #aaa;
}
div.buttons {
  text-align: center;
}
div.title {
  float: left;
  width: 14%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
div.scorebar {
  height: 2em;
  line-height: 2em;
}
div.away {
  float: left;
  width: 43%;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}
div.home {
  float: left;
  width: 43%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
div.notifications {
  height: 17em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
div.events {
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
  line-height: 1.5em;
}

div.title div {
  margin-left: auto;
  margin-right: auto;
}
div.away div {
  margin-left: auto;
  margin-right: 0;
}
div.home div {
  margin-left: 0;
  margin-right: auto;
}

span {
  display: inline-block;
}
span.stat {
  width: 2em;
}
span.time {
  width: 3em;
}
span.score {
  font-size: 22pt;
}

p {
  margin: 0em;
}

.away {
  color: #CC334D;
}
.home {
  color: #334DCC;
}
.score {
  font-weight: bolder;
}
.PSTR {
  font-weight: bolder;
  text-align: center;
  padding: 1em 0em 0em 0em;
}
.button {
  display: inline-block;
  min-width: 4em;
  padding: 0.3em 0.6em;
  border-radius: 0.6em;
  background: #333;
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
}
