div {
  margin: 0.5em 1em;
}
div.main-container {
  background-color: #33338A;
  width: 45em;
  padding: 10px;
  margin: 0 auto;
  height: 100%;
  overflow: auto;

  border-left: 4px solid #0E163D;
  border-right: 4px solid #0E163D;
}
div.buttons {
  text-align: center;
}
div.title {
  float: left;
  width: 14%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
div.scorebar {
  height: 2em;
  line-height: 2em;
}
.stats div {
    margin-top: 0;
    margin-bottom: 0.25em;
}
.stats-container {
  float: left;
  width: 43%;
  margin-left: auto;
  margin-right: auto;
}
#stats-away {
  text-align: right;
}
#stats-home {
  text-align: left;
}
div.notifications {
  height: 14.5em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
div.event {
  line-height: 1.0em;
  margin: 0;
}

div.title div {
  margin-left: auto;
  margin-right: auto;
}
div.away div {
  margin-left: auto;
  margin-right: 0;
}
div.home div {
  margin-left: 0;
  margin-right: auto;
}

span {
  display: inline-block;
}
span.stat {
  width: 2em;
}
span.time {
  width: 3em;
}
span.score {
  font-size: 22pt;
}

p {
  margin: 0em;
}

.away {
  color: #D0E0FF;
}
.home {
  color: #FFE0D0;
}
.score {
  font-weight: bolder;
}
.PSTR {
  font-weight: bolder;
  text-align: center;
  padding: 0.5em 0;
}
.button {
  display: inline-block;
  min-width: 5em;
  padding: 0.3em 0.6em;
  border-radius: 0.5em;
  background-color: #0E163D;
  color: #fff;

  font-size: 1.2em;
  text-decoration: none;
}
.button a {
  color: #fff;
}
.button:hover {
  background-color: #1E1E7F;
}

.event-time {
    width: 3em;
    text-align: right;
}
.event-team, .event-strength {
    width: 2em;
}
td {
    padding-top: 0;
    padding-bottom: 0;
}
