body {
    font-family: "Century Gothic", "Calibri", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #1E1E7F;
    color: #fff;
    line-height: 1.2;
    margin: 0;
}

html, body {
    height: 100%;
}

#header {
    background-color: #0E163D;
    padding: 1px 20px;
}

a:link, a:visited {
    color: #fff;
}
