@(onLoad: String)(content: Html)

<!DOCTYPE html>
<html>
<head>
    <title>NHL Replay</title>
    <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/game.css")'>
</head>
<body onload="@onLoad">
    <section id="header">
        <h1>NHL Replay</h1>
    </section>

    @content
</body>
</html>
